body {
    background-color: #ffffff; 
    margin-left: 60px;
    margin-right: 60px;
    
    font-family: Arial, Helvetica, sans-serif; /* default font for the page */
}

header {
    text-align: center;
    padding: 10px;
    /*border-bottom: 2px solid #ccc;*/
}

/* Logos */
#logos {
    display: flex;
    justify-content: left;
    gap: 0px;
    margin-bottom: 0px;
}
.logo {
    height: 100px;
}

h1 {
    text-align: left;
    margin-left: 30px;
    margin-top: 0px;
    font-weight: normal;
    font-size: 28px;
}
/* Navigation bar */
/*
nav {
    margin-top: 10px;
}
.nav-buttons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.nav-buttons li {
    display: inline;
}
.nav-buttons a {
    text-decoration: none;
    color: #000;
    background-color: #e0e0e0;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.nav-buttons a:hover {
    background-color: #c0c0c0;
}
    */
.nav {
    display : flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.nav-button {
    display: inline-block;
    padding: 8px 16px;      /* Size of the box */
    background-color: white; /* Default color */
    color: black;            /* Text color */
    text-decoration: none;
    border: 1px solid black; /* Box border */
    border-radius: 0px;      /* Rounded corners */
    transition: background-color 0.2s, color 0.2s;
    font-weight: bold;
}

.nav-button:hover {
    background-color: grey;  /* Turns grey on hover */
    color: white;
}

.nav-button.active {
    background-color: black; /* Active page button */
    color: white;
}

.chinese-serif {
  font-family: "Noto Serif TC", serif;
}

main {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    

}

h2 {
    font-weight: normal;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

footer {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px;
    border-top: 1px solid #ccc;
}

.course-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

.course-table th, .course-table td {
    border: 1px solid rgb(171, 171, 171);    /* table lines */
    padding: 10px 15px;        /* space inside each cell */
    text-align: left;           /* aligns text to the left */
}

.course-table th {
    background-color: #ffffff; /* header background */
    font-weight: bold;
}

.course-table tbody tr:nth-child(even) {
    background-color: #f8f8f8; /* alternating row colors */
}

.course-table tbody tr:hover {
    background-color: #f2f2f2; /* highlight row on hover */
}